POSTGRES_USER=<db_username>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
POSTGRES_DB=<db>

# This is only needed for compile-time checking (i.e., it's optional at runtime)
DATABASE_URL=<full_db_url>
